In [32]:
tweet_sample = "Check out our latest blog post on AI advancements! <a href='http://example.com'>Read more here</a> ðŸš€ #AI #TechUpdate <b>Innovation is the key to the future</b>! Make sure to follow @username for more updates on AI and technology. :) ðŸ˜Š"

In [40]:
def processRow(row):
    import re
    from textblob import TextBlob
    from nltk.corpus import stopwords
    from nltk.stem import PorterStemmer
    from textblob import Word
    from nltk.util import ngrams
    from wordcloud import WordCloud, STOPWORDS
    from nltk.tokenize import word_tokenize

    tweet = row
    tweet.lower()
    
    tweet = re.sub(r'(\\u[0-9A-Fa-f]+)', '', tweet)  
    tweet = re.sub(r'[^\x00-\x7f]', '', tweet)  
    # convert any url to URL
    tweet = re.sub(r'((www\.[^\s]+)|(https?://[^\s]+))', 'URL', tweet)
    # convert any @username to "AT_USER"
    tweet = re.sub('@[^\s]+','AT_USER',tweet)
    # removing additional white spaces
    tweet = re.sub('[\s]+',' ',tweet)
    tweet = re.sub('[\n]+',' ',tweet)

    # Remove non-alphanumeric symbols and white spaces
    tweet = re.sub(r'[^\w\s]', '', tweet)  # Removes everything except word characters and spaces

    # Remove hashtags in front of words
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)  # Removes the hashtag but keeps the word
    
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)

    # remove :( or :)
    tweet = tweet.replace(':)',' ')
    tweet = tweet.replace(':(',' ')
    # remove numbers
    tweet = ''.join([i for i in tweet if not i.isdigit()])
    # remove multiple exclamation
    tweet = re.sub(r"(\!)\1+",' ',tweet)
    # remove multiple Question marks
    tweet = re.sub(r"(\?)\1+",' ',tweet)
    # remove multistop
    tweet = re.sub(r"(\.)\1+",' ',tweet)
    
    #lemma
    
    from textblob import Word
    
    tweet = " ".join([Word(word).lemmatize() for word in tweet.split()])
    
    
    # stemmer
    
    st = PorterStemmer()
    tweet = " ".join([st.stem(word) for word in tweet.split()])
    
    # removes emoticons from the text
    
    
    # copy paste the code from claaroom
    
    # Removes emoticons from text
    #tweet = re.sub(r'[:;=D=)D=):-)|\(=-/:=D=P|XD|xD|X-p|^_^|:-*|\^|\*_*/:O|=O|:-O|O/O|o_O|o_o|:-@|=/|:X|-_-\|^_^|=-|:L|:V|', "", tweet)
    
    
    
    
    
    
    
    
    
    tweet = tweet.strip('\"')
    row = tweet 
    return row

In [41]:
processRow(tweet_sample)

'check out our latest blog post on ai advanc a hrefurl more herea ai techupd binnov is the key to the futureb make sure to follow at_us for more updat on ai and technolog'

In [ ]:
# NLP One hot encoding

In [51]:
Text = "I am learning NLP."
import pandas as pd

pd.get_dummies(Text.split()).astype(int)

   I  NLP.  am  learning
0  1     0   0         0
1  0     0   1         0
2  0     0   0         1
3  0     1   0         0

In [52]:
Text = "I am learning nlp"
import pandas as pd

pd.get_dummies(Text.split()).astype(int)

   I  am  learning  nlp
0  1   0         0    0
1  0   1         0    0
2  0   0         1    0
3  0   0         0    1

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

In [53]:
#text 
text = ["I like NLP and I will learn NLP in 2 months "]
# create the transform 
vectorizer = CountVectorizer()
#tokenizing 
vectorizer.fit(text)
#encode document 
vector = vectorizer.transform(text)
#summarizing & generating output 
print(vectorizer.vocabulary_)
print(vector.toarray())

{'like': 3, 'nlp': 5, 'and': 0, 'will': 6, 'learn': 2, 'in': 1, 'months': 4}
[[1 1 1 1 1 2 1]]